<!-- Navbar -->
{{> navbar-partial }}

<!-- Carousel -->
<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel" data-interval='6000'>
  <div class="carousel-inner">

    <div class="carousel-item active jumbotron text-center" id="slide1">
      <h1>INTERACT MORE RICHLY WITH YOUR WORLD.</h1>
      <p>Street signs and handwritten letters all become accessible at the push of a smartphone's camera button.</p>
    </div>

    <div class="carousel-item jumbotron text-center" id="slide2">
      <h1>BRIGHTEN UP YOUR MORNING COMMUTE.</h1>
      <p>Rise above the traffic by bringing your favorite book or work-related document to life.</p>
    </div>

  </div>
</div>

<!-- How it works -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>HOW IT WORKS</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="card-deck">
        <div class="card home-card">
          <img class="card-img-top" src="assets/images/card-img-1.png" alt="Book icon">
          <div class="card-body">
            <h3 class="card-title">Image-to-voice</h3>
            <p class="card-text">Designed with the visually impaired in mind. Simply take a picture of your surroundings and our app will narrate
              whatever text is present.</p>
          </div>
        </div>
        <div class="card home-card">
          <img class="card-img-top" src="assets/images/card-img-2.png" alt="Icon of pdf file">
          <div class="card-body">
            <h3 class="card-title">Text-to-voice</h3>
            <p class="card-text">Make your morning commute more productive. RWM will accept a document in one of the supported text formats and
              read it to you.</p>
          </div>
        </div>
        <div class="card home-card">
          <img class="card-img-top" src="assets/images/card-img-3.png" alt="Foreign language icon">
          <div class="card-body">
            <h3 class="card-title">Language-to-language</h3>
            <p class="card-text">Need an on-demand translator? Upload an image or document containing text in a foreign language and RWM will
              take care of the rest.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>