<!-- Navbar -->
{{> navbar-partial }}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>See my saved items:</h1>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {{#each user.library}}
                    <div class="card">
                        <p>{{text}}</p>
                        <p>thumbnail</p>
                        <p>pollyplayer</p>

                        <button class="delete-btn" id="{{_id}}">Remove from library</button>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

</div>