/* Apply to everything */
body {
    font-family: 'Roboto Condensed', sans-serif;  
}

h1 {
    text-align: center;
}
  
p {
    font-size: 20px;
}


/* Home page CSS */
#slide1 {
    color: white;
    height: 450px;
    padding-top: 100px;
    background-position: 50% 7%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('/assets/images/menu-1.png')
}

#slide2 {
    color: white;
    height: 450px;
    padding-top: 100px;
    background-position: 50% 55%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('/assets/images/morning-1.png')
}

.home-card {
    border-style: none;
}

/* Library page CSS */
.item-card {
    padding: 20px;
}

.item-card:not(:last-child) {
    margin-bottom: 20px;
}

/* Picture page CSS */
#polly-audio {
    /*margin: auto auto 10px auto;*/
    vertical-align: middle;
}

.card-footer {
    min-height: 79px;
}

#save-form {
    vertical-align: middle;
}

.form-inline {
    padding: 7.5px 0 0 0;
}

#right-side {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}